$def with(posts)
<!DOCTYPE html>
<html>
<head>
</head>
<body>



       <h1>Alumnos</h1>

       <table class="table table-striped table-borde table-hover table-condensed">
       <body style="background-color:#E6E6FA;">
       	 <th>Modificar</th>
         <th>Borrar</th>
         <th>Insertar</th>
       		$for post in posts:
       		<tr>

           
	            <td><a href='/view/$post.id_alumno'>$post.nombre</a></td>
	           <td><a href='/edit/$post.id_alumno' >Editar</a></td>
	            <td><a href='/edit/$post.id_alumno'>Borrar</a></td>
	            
      	
            </tr>
            

       </table>
          
</body>
</html>
